<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Customer</title>

    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div  th:replace="~{fragments/side-menu :: customer-side-menu}">
            some text
        </div>

        <div class="col album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div th:each="orderRequest : ${orderRequests}" th:object="${orderRequest}">
                        <div class="card shadow-sm">
                            <div class="card-header" th:text="${orderRequest.shortName}"/>
                            <div class="card-body">
                                <div class="card-text">
                                    <p th:text="${'Цена: ' + orderRequest.price}"/>
                                    <p th:text="${orderRequest.description}"/>
                                </div>
                                <table class="table table-light align-items-center">
                                    <p class="table-header">Исполнители:</p>
                                    <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Рейтинг</th>
                                            <th th:if="${orderRequest.access.name() == 'private_'}">Отозвать приглашение</th>
                                            <th th:if="${orderRequest.access.name() == 'public_'}">Принять/Отклонить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="executor : ${orderRequest.executors}" th:object="${executor}">
                                            <td th:text="${executor.name}"/>
                                            <td th:text="${executor.rate} ?: '0'"/>
                                            <td th:if="${orderRequest.access.name() == 'private_'}">
                                                <form th:method="POST" th:action="@{/customer/orderRequests/decline}">
                                                    <input type="hidden" name="executorId" th:value="${executor.id}"/>
                                                    <input type="hidden" name="orderRequestId" th:value="${orderRequest.id}"/>
                                                    <button type="submit" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                                </form>
                                            </td>
                                            <td th:if="${orderRequest.access.name() == 'public_'}">
                                                <div class="btn-group">
                                                    <form th:method="POST" th:action="@{/customer/orderRequests/accept}" th:object="${orderRequestIdExecutorId}">
                                                        <input type="hidden" id="executorId" name="executorId" th:value="${executor.id}"/>
                                                        <input type="hidden" id="orderRequestId" name="orderRequestId" th:value="${orderRequest.id}"/>
                                                        <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-check2"></i></button>
                                                    </form>
                                                    <form th:method="POST" th:action="@{/customer/orderRequests/decline}">
                                                        <input type="hidden" name="executorId" th:value="${executor.id}"/>
                                                        <input type="hidden" name="orderRequestId" th:value="${orderRequest.id}"/>
                                                    <button type="submit" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div th:if="${orderRequest.access.name() == 'private_'}" class="d-flex justify-content-between align-items-center">
                                    <form th:method="GET" th:action="@{/customer/orderRequests/choose}" th:object="${chooseOrderRequest}">
                                        <input type="hidden" id="id" name="id" th:value="${orderRequest.id}"/>
                                        <input type="hidden" id="competence" name="competence" th:value="${orderRequest.competence}"/>
                                        <button type="submit" class="btn btn-primary">Пригласить исполнителей</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>